*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #F6F8FF;
}


h1{
  color: #4B6A9B;
font-family: "Space Mono";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 138.889% */
}